.config/eog/
.config/oh-my-zsh/
.config/ibus
.config/gtk*
.config/neofetch
.config/transmission/torrents
.config/transmission/resume


.config/pulse/
.CLion*/system/

# config specified resources 
.tmux/plugins/



# system/sessesion specific
*Stats*
*stats*
*.lock
*.bak
.config/libreoffice/4/user
!.config/libreoffice/4/user/config


.CLion*/config/workspace
.config/Kitware
.config/balena-etcher-electron
.config/godot/projects
.config/yelp



# security and privacy
*history*
*History*
*.db

*session*
*Session*
*database*
*Database*

*cache*
*Cache*

.tmux/resurrect/
.config/discord/
.config/skypeforlinux

