.config/eog/
.config/oh-my-zsh/
.config/ibus
.config/gtk*
.config/neofetch
.config/transmission/torrents
.config/transmission/resume
.config/TabNine/monitoring
.config/TabNine/defaults
.config/TabNine/last_heartbeat
.config/ros

# Lockfiles
*lock*

*.zip

.config/pulse/
.CLion*/system/

# Backups
*.bak

# Test
*test*

# resources
.tmux/plugins/
*.so*

# system/session specific
*Stats*
*stats*
*.lock
*.bak
.config/libreoffice/4/user/*
!.config/libreoffice/4/user/config
.config/dconf

.config/monitors.xml
.config/pavucontrol.ini

*lock*
*Lock*
*key*
*Key*
*Reports*
*reports*
*Cache*
*cache*

# security and privacy
*history*
*History*
*.db
*.ldb
*.zcompdump*
*log*
*LOG*
*Local*
*local*
*Storage*
*storage*

*Cookie*
*cookie*
*session*
*Session*
*database*
*Database*

*Journal*
*journal*

*Security*
*security*

*cache*
*Cache*
*logs*
*Logs*
*log*
*Log*
*recover*
*Recover*
*license*
*License*


# Application Specific

.config/configstore/update-notifier*
.config/configstore/update-notifier*

# VS Code
.config/Code/*
!.config/Code/storage.json
!.config/Code/languagepacks.json


# JetBrains
.config/JetBrains/*/options/usage.statistics.xml
.config/JetBrains/*/workspace
.config/CLion*/workspace
.config/CLion*/ssl
.config/IdeaIC*/workspace
.config/IdeaIC*/ssl


# Typora
.config/Typora/*
!.config/Typora/Preferences
!.config/Typora/conf

.config/Kitware
.config/balena-etcher-electron
.config/godot/projects
.config/yelp

.config/Typora/typora-dictionaries

.tmux/resurrect/
.config/discord/
.config/Slack/
.config/skypeforlinux
.config/wireshark
.config/torbrowser
.config/coc
.config/arduino-cli

*tags*
*.nvimproj*
.warprc

.config/BraveSoftware/
.config/autostart/
.config/chromium/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gsconnect/
.config/inkscape/
.config/microsoft-edge-beta/
.config/microsoft-edge-dev/
.config/polybar.old/
.config/mimeapps.list
