configuration {
	show-icons:		false;
	sidebar-mode: 	false;
}

@import "rounded-gray-dark.rasi"

* {
    font:   "DejaVuSansM Nerd Font 12";
}


listview {
    location:       center;
    lines:    15;
}

